:root{
    --main-font: "M PLUS Code Latin", monospace;
    --header-light-black: #0D0D0D;
    --section-dark-gray: #1D1D1D;
    --section-gray: #A09F9D;
    --light-gray: #737373; /*font color*/
    --very-light-gray: #D9D9D9; /*icon color*/
}

* {
    padding: 0;
    margin: 0;
}

html {
    font-family: var(--main-font);
    font-size: 62.5%;
}

body {
    padding-top: 8.5rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-light-black);
    width: 100%;
    height: 8.5rem;
    opacity: 0.8;
    left: 0;
	top: 0;
    position: fixed;
}

header img {
    width: 12rem;
    margin-left: 3rem;
}

header a {
    color: var(--light-gray);
    padding: 1rem;
    font-size: 1.5rem;
}

header a:last-child{
    margin-right: 3rem;
}

main {
    background-color: var(--section-gray);
    width: 100%;
}

a {
    text-decoration: none;
}

a:hover {
    color:#D9D9D9;
}

h2 {
    font: 3rem lighter;
    font-family: var(--main-font);
    margin: 5.5rem 0 1.5rem;
    color: var(--header-light-black);
    text-align: center;
}

h3 {
    font: 2rem lighter;
    font-family: var(--main-font);
    margin: 0.5rem 0 1.5rem;
    color: var(--header-light-black);
    text-align: center;
}

/*stream section*/
.section-stream{
    width: 100%;
    margin: 0 auto;
    background-color: var(--section-dark-gray);
    padding: 3rem 0;
}

.album-cover {
    width: 32rem;
    display: block;
    margin: auto;
    border-radius: 0.5rem;
    transition: 0.3s;
}

.album-cover:hover {
    opacity: 0.8;
}


.stream-plataform {
    color: var(--very-light-gray);
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem auto;
    height: 3.4rem;
    width: 30rem;
    border:0.1rem solid var(--light-gray);
    border-radius: 0.6rem;
    padding: 0.8rem;
    background-color: #404040;
    opacity: 0.8;
    transition: 0.3s;
}

.stream-plataform:hover {
    background: var(--light-gray);
}

/*Promo section*/
.promo-film {
    display: flex;
    justify-content: center;
}

.promo-film iframe {
    width:31rem;
    height: 18rem;
    transition: 0.3s;
}

.promo-film iframe:hover {
    opacity: 0.7;
}

.promo-schedule {
    display: flex;
    justify-content: center;
}

.promo-schedule img {
    width: 31rem;
    margin-bottom: 2rem;
}

/*Media section*/
.pictures img{
    display: block;
    width: 28rem;
    margin: 1rem auto;
    cursor: pointer;
    transition: 0.3s;
}

.pictures img:hover {
    opacity: 0.7;
}

.videos iframe {
    display: block;
    margin: 1rem auto;
    width:31rem;
    height: 18rem;
}

.videos iframe:hover {
    opacity: 0.7;
}

.button {
    position:relative;
    margin-top: 5rem;
    transition: 0.3s;
}

.btn-up {
    position: fixed;
    right: 3rem;
    bottom: 7rem;
    color: var(--very-light-gray);
    font-size: 1rem;
    border:0.1rem solid var(--light-gray);
    border-radius: 0.6rem;
    background-color: #404040; 
    padding: 0.8rem;
}

footer {
    /*width: 100%;*/
    height: 4rem;
    background-color: var(--section-dark-gray);
    font-size: 0.7rem;
    color: var(--very-light-gray);
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 0 1rem 1rem;
}

footer img {
    width: 16px;
}

/*media query para tablets*/
@media screen and (min-width: 767px){

    .section-stream{
        width: 100%;;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .album-cover {
        width: 37rem;
        margin: 2.5rem;
    }
    .stream-plataform {
        margin-right: 2.5rem;
    }

    .promo-film iframe {
        width:56rem;
        height: 33rem;
    }
    .promo-schedule img {
        width: 56rem;
    }

    .pictures img {
        width: 38rem;
    }
    .videos iframe {
        width:56rem;
        height: 33rem;
    }

    .btn-up {
        font-size: 2rem;
        padding: 0.9rem;
    }

    footer {
        height: 5rem;
        font-size: 1rem;
    }

    footer img {
        width: 24px;
    }
}

/*media query para laptop/PC*/
@media screen and (min-width: 1023px){

    .section-stream {
        width: 100%;;
    }
    .album-cover {
        width: 43rem;
    }
    .stream-plataform {
        margin: 1.2rem 2.5rem;
        font-size: 1.7rem;
        height: 4.2rem;
        width: 45rem;
    }

    .promo-film span {
        font-size: 2.8rem;
    }
    .promo-film iframe {
        width:70rem;
        height: 35rem;
    }
    .promo-schedule span {
        font-size: 2.8rem;
    }
    .promo-schedule img {
        width: 70rem;
    }

    .pictures {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .pictures img { 
        width: 28rem;
        margin: 1rem 3rem;
    }
    .promo-film iframe {
        width:70rem;
        height: 35rem;
    }

    .btn-up {
        font-size: 2.5rem;
        padding: 1rem;
    }

    footer {
        height: 5.5rem;
        font-size: 1.2rem;
    }

    footer img {
        width: 32px;
    }
    
}

